.flex {
  display: flex;
}

.flex-row {
  .flex;

  flex-direction: row;
}

.flex-column {
  .flex;

  flex-direction: column;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.pull-right {
  float: right;
}

.flex-grow {
  flex: 1;
}

.flex-none {
  flex: none;
}

.flex-middle {
  justify-content: center;
}

.flex-vertical-middle {
  .flex-column;
  .flex-middle;
}

.flex-horizontal-middle {
  .flex-row;
  .flex-middle;
}

.page-content {
  margin: 10px 0 0 0;
}
