.flex {
  display: flex;
}

.flex-row {
  .flex;

  flex-direction: row;
}

.flex-column {
  .flex;

  flex-direction: column;
}

.full-width {
  width: 100%;
}

.pull-right {
  float: right;
}

.flex-grow {
  flex: 1;
}

.flex-none {
  flex: none;
}