@import (reference) "../flex";
@import (reference) "../const";

.scriptDirectory {
    margin: 2px;
}

.scriptDirectoryTitle {
    border: 1px solid @border-color;

    padding: 3px 3px 3px 8px;
    margin: 2px;

    border-radius: 5px;
}

.scriptDirectoryChildren {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 5px solid @border-color;

    > .ScriptList > .scriptRow:first-child {
        margin-top: 5px;
    }
}
