@import (reference) "../flex";

.scriptDirectory {
    margin: 2px;
}

.scriptDirectoryTitle {
    background-color: lightgray;
    border: 1px solid grey;

    padding: 3px 3px 3px 8px;
    margin: 2px;

    border-radius: 5px;
}

.scriptDirectoryChildren {
    margin-left: 5px;
    padding-left: 5px;
    border-left: 5px solid grey;

    > .ScriptList > .scriptRow:first-child {
        margin-top: 5px;
    }
}
