{
  "rules": {
    "no-cond-assign": ["error", "always"],
    "no-constant-condition": ["warn"],
    "no-duplicate-case": ["error"],
    "no-case-declarations": ["error"],
    "curly": [2, "all"],
    "block-spacing": [2, "always"],
    "quotes": ["error", "single"],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "semi": ["warn", "always", { "omitLastInOneLineBlock" : false }],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "all",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "eol-last": ["error", "always"],

    "react/jsx-no-literals": [1, {"noStrings": false}],
    "react/jsx-no-target-blank": 2,
    "jsx-quotes": ["error", "prefer-double"],

    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-mutable-exports": ["warn"],
    "import/no-duplicates": ["warn"],
    "import/newline-after-import": ["error", { "count": 2 }],

    "flowtype/space-after-type-colon": [
      2,
      "always"
    ],
    "flowtype/space-before-generic-bracket": [
      2,
      "never"
    ],
    "flowtype/space-before-type-colon": [
      2,
      "never"
    ],
    "flowtype/require-return-type": [
      2,
      "always",
      {
        "excludeArrowFunctions": "expressionsOnly"
      }
    ],
    "flowtype/require-parameter-type": [
      2,
      {
        "excludeParameterMatch": "^_",
        "excludeArrowFunctions": "expressionsOnly"
      }
    ],
    "flowtype/require-variable-type": [
      2,
      {
        "excludeVariableMatch": "^_",
        "excludeVariableTypes": {
          "var": false,
          "let": false,
          "const": true
        }
      }
    ],
    "flowtype/no-flow-fix-me-comments": [1]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "extends": ["react-app"]
}
