{
  "rules": {
    "no-cond-assign": ["error", "always"],
    "no-constant-condition": ["warn"],
    "no-duplicate-case": ["error"],
    "no-case-declarations": ["error"],
    "curly": [2, "all"],
    "block-spacing": [2, "always"],
    "quotes": ["error", "single"],
    "key-spacing": ["warn", { "beforeColon": false, "afterColon": true }],
    "semi": ["warn", "always", { "omitLastInOneLineBlock" : false }],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "all",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "eol-last": ["error", "always"],
    "no-console": ["error", { "allow": ["debug", "warn", "error"] }],
    "operator-linebreak": ["warn", "before", { "overrides": { "&&": "after"} }],
    "multiline-ternary": ["warn", "always-multiline"],

    "react/prefer-stateless-function": [1, { "ignorePureComponents": true }],
    "react/no-access-state-in-setstate": 2,
    "react/no-this-in-sfc": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-no-literals": [1, {"noStrings": false}],
    "react/jsx-no-target-blank": 2,
    "react/jsx-wrap-multilines": ["warn", { "arrow": "ignore" }],
    "react/jsx-indent": ["warn"],
    "react/jsx-indent-props": ["warn"],

    "jsx-quotes": ["error", "prefer-double"],

    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index"
        ],
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "import/extensions": [
      "warn",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": false,
        "peerDependencies": false
      }
    ],
    "import/no-namespace": ["warn"],
    "import/no-mutable-exports": ["warn"],
    "import/no-duplicates": ["warn"],
    "import/no-useless-path-segments": ["warn"],
    "import/no-internal-modules": [
      "warn",
      {
        "allow": [
          //external deps
          "@atlaskit/icon/glyph/**",
          "codemirror/**",
          "lodash/*",
          //internal deps
          "common/**",
          "i18n/*",
          "**/types"
        ]
      }
    ],
    "import/newline-after-import": ["error", { "count": 2 }],
    "import/no-self-import": ["error"],
    "import/no-cycle": ["error", { "commonjs": true }],

    "jsx-a11y/href-no-hash": [0],

    "@typescript-eslint/array-type": [
      "warn",
      {
        "default": "generic"
      }
    ],
    "@typescript-eslint/consistent-type-definitions": "off",
    "@typescript-eslint/prefer-interface": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",//todo
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/ban-ts-ignore": "off"
  },
  "settings": {
    "react": {
      "version": "16.4.2"
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:import/typescript"
  ]
}
