@import (reference) "~@atlaskit/util-shared-styles/src/borders";


.ak-editor {
  .cm-s-eclipse {
    background-color: transparent;
  }

  .react-codemirror2 {
    width: 100%;
  }

  .CodeMirror {
    border-radius: @ak-border-radius;

    .CodeMirror-gutters {
      background: transparent;
    }
  }
}
