@import "~react-select/dist/react-select.css";

form.aui .Select {
  max-width: 250px;

  &.long-field {
    max-width: 500px;
  }

  &.full-width-field {
    max-width: 100%;
  }
}

.Select-menu-outer {
  z-index: 3001;
}
