@import (reference) "../flex";
@import (reference) "../const";
@import (reference) "~@atlaskit/util-shared-styles/src/borders";
@import (reference) "~@atlaskit/util-shared-styles/src/colors";

.ScriptList {
  .flex-column;

  > .scriptRow {
    margin: 2px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }
}

.scriptRow {
  .flex-column;

  border: 1px solid @border-color;

  padding: 3px 0 0;

  border-radius: @ak-border-radius;

  >.title {
    margin-left: 8px;
    margin-right: 3px;
    padding-bottom: 3px;

    h3 {
      margin-top: 0;
    }
  }


  >.children {
    .flex-column;

    margin-left: 8px;
    margin-right: 3px;
  }

  > .ScriptBody {
    background-color: #f1f2f6;
    border-top: 1px solid @border-color;

    >.editor {
      .Editor {
        margin: 15px;

        .CodeEditor {
          border-radius: @ak-border-radius;
          border: 1px solid @border-color;
          overflow: hidden;
        }
      }

      .scriptChangelogs {
        margin: 15px;

        .flex-none;

        max-height: 321px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    >.executions {
      margin: 0 15px 15px;
    }
  }
}


.scriptChangelog {
  .flex-column;

  cursor: pointer;

  &:last-child {
    margin-bottom: 5px;

    &:after {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  &:after {
    content: '';
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid @border-color;
  }

  .changelogContent {
    padding-left: 3px;

    &:hover {
      background-color: lightgray;
    }

    &.active {
      background-color: lightgray;
    }
  }
}
