@import (reference) "../flex";

.executionBar {
  .flex-row;

  flex-wrap: wrap;
  margin-bottom: -1px;
}

.executionItem {
  .flex-none;

  cursor: pointer;
  padding: 5px;

  border: 1px solid gray;
  margin-left: -1px;
  margin-top: -1px;

  &:hover {
    background-color: lightgrey;
  }
}