@import (reference) "../flex";
@import (reference) "../const";
@import (reference) "~@atlaskit/util-shared-styles/src/borders";
@import (reference) "~@atlaskit/util-shared-styles/src/colors";

.executionBar {
  .flex-row;

  flex-wrap: wrap;
  margin-bottom: -1px;
}

.executionItem {
  .flex-none;
  .flex-vertical-middle;

  cursor: pointer;
  padding: 0 1px;
  margin: 0 1px;

  border: none;
  border-radius: @ak-border-radius;
  background-color: @ak-color-N30A;

  &:hover {
    background-color: @ak-color-N40A;
  }
}