#* @vtlvariable name="escapeJs" type="java.util.function.Function" *#
<strong>Groovy inline script</strong>
<br/>
<div id="mailru-groovy-script-react-container-${uuid}"></div>
$webResourceManager.requireResourcesForContext("ru.mail.jira.plugins.groovy.workflow")

<script>
    require(['mailru/groovy/renderInlineScript'], function(renderInlineScript) {
        #set($scriptHtml = ${escapeJs.apply($inlineScript)})
        #set($nameHtml = ${escapeJs.apply($inlineScriptName)})
        renderInlineScript(
                document.getElementById("mailru-groovy-script-react-container-$uuid"),
                "$uuid",
                "$nameHtml",
                "$scriptHtml"
        );
    });
</script>
