<html>
<head>
    <title>Groovy script listeners</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="mailru-groovy-listeners-link" />
</head>
<body>
<div id="react-content">
</div>

$webResourceManager.requireResource("ru.mail.jira.plugins.groovy:listeners-resources")
</body>
</html>
