<html>
<head>
    <title>Mail.Ru groovy</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="admin_plugins_menu/admin_mailru_groovy_section" />
    <meta name="admin.active.tab" content="mailru-groovy-registry-link"/>
</head>
<body>
<div id="react-content">
</div>

$webResourceManager.requireResourcesForContext("ru.mail.jira.plugins.groovy.main")
</body>
</html>
