#* @vtlvariable name="paramValues" type="java.util.Map<java.lang.String, java.lang.String>" *#
#* @vtlvariable name="params" type="java.util.List<ru.mail.jira.plugins.groovy.api.dto.ScriptParamDto>" *#
#* @vtlvariable name="script" type="ru.mail.jira.plugins.groovy.api.dto.directory.RegistryScriptDto" *#
#* @vtlvariable name="escapeJs" type="java.util.function.Function" *#

<div>
<strong>Groovy script from registry</strong>
</div>
<div id="mailru-groovy-script-react-container-$uuid" style="margin-top: 6px;"></div>

$webResourceManager.requireResourcesForContext("ru.mail.jira.plugins.groovy.workflow")

<script>
    require(['mailru/groovy/renderRegistryScript'], function(renderRegistryScript) {
        #set($nameHtml = ${escapeJs.apply($script.name)})
        #set($scriptHtml = ${escapeJs.apply($script.scriptBody)})
        renderRegistryScript(
            document.getElementById("mailru-groovy-script-react-container-$uuid"),
            "$script.id",
            "$nameHtml",
            "$scriptHtml",
            #if ($script.errorCount) $script.errorCount #else 0 #end,
            #if ($paramsHtml) $paramsHtml #else null #end,
            #if ($paramValuesHtml) $paramValuesHtml #else null #end
        );
    });
</script>
