#* @vtlvariable name="type" type="ru.mail.jira.plugins.groovy.api.dto.workflow.WorkflowScriptType" *#
<br/>

<div id="mailru-registry-script-picker"/>

$webResourceManager.requireResourcesForContext("ru.mail.jira.plugins.groovy.workflow")

<script>
    AJS.$('#mailru-registry-script-picker').closest('form').addClass('aui');
    require(['mailru/groovy/renderRegistryPicker'], function(renderRegistryScript) {
        #set($valuesHtml = $values)

        renderRegistryScript(
            document.getElementById("mailru-registry-script-picker"),
            "script",
            "$type.name()",
            #if ($id) $id #else null #end,
            $valuesHtml
        );
    });
</script>
