<html>
<head>
    <title>Groovy REST</title>
    <meta name="decorator" content="atl.admin">
    <meta name="admin.active.section" content="mailru-groovy-rest-link" />
</head>
<body>
<div id="react-content">
</div>

$webResourceManager.requireResource("ru.mail.jira.plugins.groovy:rest-resources")
</body>
</html>
